{% extends 'layout.html' %}
{% block body %}
<!-- post.html -->
<ul>
        {% for item, quantity in items.items() %}
        <li>{{ item }}: {{ quantity }}</li>
        {% endfor %}
    </ul>
    <form method="POST">
        <label>Item</label><input type="text" name="item"/>
        <label>Quantity</label><input type="text" name="quantity"/>
        <input type="submit"/>
    </form>


{% endblock %}

<!-- 
<ul>
    {% for task in tasks %}
    <li>{{ task }}</li>
    {% endfor %}
</ul>
<form method="POST" action="/post">
    <input name="task" type="text">
    <input type="submit">
</form> -->


<!-- <form method="POST" action="/post">
    <input name="data" type="text">
    <input type="submit">
</form> -->
